<h2 class="contact">Contact Us</h2>
<form novalidate>
    <div class="left clearfix">
        <input type="text" id="name" placeholder="name" name="nm" required>
        <input type="email" id="email" placeholder="email" name="em" required>
        <input type="text" id="subject" placeholder="subject" name="sb" required> </div>
    <div class="right clearfix">
        <textarea id="message" placeholder="message" name="ms" required></textarea>
    </div>

    <input class="submit" type="submit" value="SUBMIT"></form>
<div class="feedback"></div>